body{
	background-color: azure;
}
.kaituozhe{
	height: 500px;
	width: 1100px;
	 display: flex;
}
.kaituozhe img{
	height: 500px;
	width: 500px;
	float: left;
}
.kaituozhe p{
	float: right;
	
	font-size: 23px;
	color:  #FFC0CB;
	margin-left: 30px;
}
.shanyueqi{
	height: 500px;
	width: 1100px;
	 display: flex;
	 margin-top: 50px;
}
.shanyueqi img{
	
	height: 500px;
	width: 500px;
	float: left;
}
.shanyueqi p{
	float: right;
	
	font-size: 23px;
	color: aqua;
	margin-left: 30px;
}
.danhen{
	height: 500px;
	width: 1100px;
	 display: flex;
	 margin-top: 50px;
}
.danhen img{
	height: 500px;
	width: 500px;
	float: left;
}
.danhen p{
	float: right;
	
	font-size: 23px;
	color: cadetblue;
	margin-left: 30px;
}
.jizi{
	height: 500px;
	width: 1100px;
	 display: flex;
	 margin-top: 50px;
}
.jizi img{
	height: 500px;
	width: 500px;
	float: left;
}
.jizi p{
	float: right;
	
	font-size: 23px;
	color: red;
	margin-left: 30px;
}
.yang{
	height: 500px;
	width: 1100px;
	 display: flex;
	 margin-top: 50px;
}
.yang img{
	height: 500px;
	width: 500px;
	float: left;
}
.yang p{
	float: right;
	
	font-size: 23px;
	color: chocolate;
	margin-left: 30px;
}

