*{
	margin: 0;
	padding: 0;
}
img{
	object-fit: cover;
}
body{
	background: #f2f2f2;
}
a{
	text-decoration: none;
}
.pag-titlte{
	width: 1200px;
	margin: 20px auto;
}
.pag-titlte h3{
	color: #1D2A61;
	padding-left: 5px;
	border-left: 5px solid #1D2A61;
}
.top-img img{
	display: block;
	width: 100%;
	height: 400px;
	
}
.header{
	width: 100%;
	height: 50px;
	line-height: 50PX;
	background: #167587;
	text-align: center;
}
.header a{
	text-decoration: none;
	margin: 0 70px;
	color: #fff;
}
.header a:hover{
	color: red;
}
.banner img{
	display: block;
	width: 100%;
	height:500px;
	
}
.home-about{
	width: 1160px;
	height: 210px;
	margin:30px auto;
	padding: 20px;
	background: #fff;
	
}
.home-about-img{
	float: left;
	width: 400px;
	height: 210px;
}
.home-about-img img{
	width: 100%;
	height: 100%;
	
}
.home-about-text{
	float: right;
	width: 740px;
}
.home-about-text h3{
	margin-bottom: 20px;
	font-size: 20px;
}
.home-about-text p{
	margin-bottom: 10px;
	line-height: 1.8;
}
.img-box,.actiyity{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1200px;
	height: 420px;
	margin: auto;
	
}
.img-box img{
	width: 255px;
	height: 175px;
	margin-bottom: 10px;
	padding: 5px 10PX;
	box-shadow:inset 2px 5px 18px #1D2A61;
}
.actiyity{
	height: auto;
}
.actiyity-left{
	width: 500PX;
	height: 350px;
	color: #fff;
	background: #1D2A61;
	transition: all 0.3s;
}
.actiyity-left-img {
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.actiyity-left-img img{
	display: block;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}
.actiyity-left:hover{
	transform: translateY(-10px);
	box-shadow: 2px 1px 10px #ccc;
}
.actiyity-left-img:hover img{
	transform: scale(1.2);
}
.actiyity-left p{
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
}
.actiyity-right{
	width: 630PX;
	background: #fff;
	padding: 20px;
}
.actiyity-right a{
	display:block;
	color: black;
	height: 30px;
	line-height: 30px;
	margin: 10px 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	border-bottom: 1px dashed #ccc;
}
.actiyity a:hover{
	color: red;
}
.footer{
	text-align: center;
	background:black;
	color: #fff;
	padding: 10px 0;
}